body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100svh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #3B414C;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

header {
    width: 100%;
    align-items: center;
    top: 0;
    position: absolute;
}



.social-links img {
    width: 30px;
    height: 30px;
    margin-bottom: 10%;
}

.social-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 2%;
    margin-right: 2%;

}

.titre {
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script';
    position: absolute;
    left: 0;
    margin-top: 3%;
    margin-left: 15%;
} 

#backButton{
    display: flex;
    position: absolute;
    width: 30px;
    height: 40px;
    left: 0;
    margin-top: 3%;
    margin-left: 4%;
}

/* .burger-menu .line {
    height: 4px;
    width: 100%;
    background-color: rgb(255, 255, 255);
} */
/* 
.menu-content {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: #3B414C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.menu-content a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu-content a:hover {
    background-color: #575d69;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    cursor: pointer;
} */

.intro{
    margin-bottom: 15svh;
}

.intro::after{
    content: '';
    display:block;
    border-bottom: 1.5px groove white;
    
}

.intro, p{
    color: #ffffff;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    line-height: 1.1;
    word-spacing: 1px;
}
    

main{
    height: 30svh;
}

/* #description-text{
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    word-spacing: 1px;
    position: absolute;
} */

/* Styles pour les boutons */
.button-container {
    text-align: center; /* Centrer les boutons horizontalement */
}

.button-container button {
    background-color: #f8f8f8; /* Couleur de fond verte */
    color: rgb(92, 92, 92); /* Couleur du texte blanc */
    border: none; /* Suppression de la bordure */
    text-align: center; /* Centrage du texte */
    display: inline-block; /* Afficher en ligne */
    font-size: 15px; /* Taille de la police */
    border-radius: 8px; /* Bordure arrondie */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s ease; /* Transition fluide de couleur de fond */
    font-family: "Roboto";
    font-weight: 500;
    width: 82px;
    margin: 3px;
}


.button-container button:hover {
    background-color: #a1a1a1; /* Couleur de fond verte plus foncée au survol */
}

.product-container {
    display: flex;
    flex-wrap: wrap; /* Permet le retour à la ligne automatique */
    gap: 20px; /* Espacement entre les cartes */
    flex-direction: column;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;    
    width: 40svh;
    height: 41svh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    left: 0;
    padding: 16px;
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.content {
    padding: 16px 0;
}

.content h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.content p {
    text-align: left;
    font-size: 16px;
    color: #666;
}

.price span{
    font-size: 18px;
    color: #333;
    margin-left: 33svh;
}


